* {
  margin: 0;
  padding: 0px;
}

html {
  background-color: antiquewhite;
}

/* /////////////////////// */
/* HEADER */
/* /////////////////////// */


.navbar {
  display: flex;
  max-height: 150px;
  justify-content: space-between;
  background-color: gray;
}

/* this is neccesary if I want to add my name to the logo */
/*
.logo {
  /* display: flex;
  align-items: center;
} */

/* .logo  h2{
  font-size: 2rem;
} */

nav img {
  max-height: 75px;
  width: auto;
  margin-left: 3em;
}

.menu {
  display: flex;
  margin-right: 3em;
  align-items: center;
}

li {
  list-style-type: none;
}

.menu li a, .menu li p {
  text-decoration: none;
  font-size: 1.5em;
  padding-left: 0.75rem;
}

/* /////////////////////// */
/* MAIN SECTION */
/* /////////////////////// */
main {
  margin: 0 15em;
}

section {
  margin-bottom: 5em;
}

/* About me */
.introduction {
  border: 2px solid red;
}


.profile-pic img {
  height: 400px;
  width: auto;

}

/* tech stack */
.tech-stack {
  border: 2px solid red;
}


/* projects */
.projects {
  border: 2px solid red;
}



/* /////////////////////// */
/* FOOTER */
/* /////////////////////// */

footer {
  display: flex;
  background-color: gray;
  height: 50px;
  justify-content: center;
  align-items: center;
}



/* Media queries */

/* have a tablet one
have one for phone */

/* make the main margin em lower on smaller screens */
