* {
  margin: 0;
  padding: 0px;
  /* font-family: ; */
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu Mono', monospace;
}

body {
  background-color: #EEE9DA;
  /* opacity: 1; */
  /* background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #EEE9DA 4px ), repeating-linear-gradient( #6096B455, #6096B4 ); */
}

/* /////////////////////// */
/* HEADER */
/* /////////////////////// */


.navbar {
  display: flex;
  max-height: 150px;
  justify-content: space-between;
  background-color: #93BFCF;
  position: fixed;
  width: 100%;
}

/* this is neccesary if I want to add my name to the logo */
/*
.logo {
  /* display: flex;
  align-items: center;
} */

/* .logo  h2{
  font-size: 2rem;
} */

nav img {
  max-height: 50px;
  width: auto;
  margin-left: 3em;
}

.menu {
  display: flex;
  margin-right: 3em;
  align-items: center;
}

li {
  list-style-type: none;
}

.menu li a, .menu li p {
  text-decoration: none;
  font-size: 1.5em;
  padding: 0.75rem;
  color: #000;
}

.menu li a:hover, .menu li p:hover {
  font-size: calc(1.5em - 1px);
  color: #952323;
  transition: 200ms;
  border: #952323 1px solid;
  border-radius: 5px;
}

/* BANNER */
.banner {
  display: flex;
  justify-content: left;
  align-items: end;
  margin: 0em 15rem;
  height: 100vh;
  margin-bottom: 0px;
  font-size: 2.5rem;
  word-spacing: -7.5px;
  /* padding-bottom: 3em; */
}

.banner-text {
  margin-bottom: 5em;
}

.banner h1 {
  color: #952323;
}

.banner p {
  color: #93BFCF;
  font-size: 1.5rem;
}

.banner h4 {
  color: #6096B4;
}

.banner-element {
  /*  */
}

/* /////////////////////// */
/* MAIN SECTION */
/* /////////////////////// */
main {
  margin: 0 15rem;
}

section {
  height: 100vh;
}

/* About me */
.introduction {
  border: 2px solid red;
}


.profile-pic img {
  height: 400px;
  width: auto;

}

/* tech stack */
.tech-stack {
}


/* projects */
.projects {

}



/* /////////////////////// */
/* FOOTER */
/* /////////////////////// */

footer {
  display: flex;
  background-color: #6096B4;
  height: 50px;
  justify-content: center;
  align-items: center;
}



/* Media queries */

/* have a tablet one
have one for phone */

/* make the main margin em lower on smaller screens */
